src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
		<flow name="updateBillingLineItems"
		doc:id="b5a9a213-48cd-4d70-84af-bc9340212afe">
		
		<logger level="DEBUG" doc:name="Debug - Start Flow" doc:id="725e8aab-4a5d-42a6-9edf-41b5096da91a" message="TRACE_POINT: START: updateBillingLineItems Flow Implementation Starts" category="com.condenast.api"/>
		<logger level="DEBUG" doc:name="Debug log - Before calling updateBillingLineItems System API call" doc:id="3cab268f-3a50-4390-b7ab-6718c365f904" message="TRACE_POINT: Before Calling Update invoiceBillingLineItems System API call" category="com.condenast.api"/>		
		<logger level="DEBUG" doc:name="Debug log - Message Payload" doc:id="380b2aa8-6807-468a-9998-94634978e337" message="TRACE_POINT: MSG_PAYLOAD: #[payload]" category="com.condenast.api"/>
		<http:request method="PUT" doc:name="updateBillingLineItems System API" doc:id="d2325a9b-0d67-4dd3-affa-0f942bbda71e" config-ref="HTTP_SAPI_Request_configuration" path="/${atlas.sfdc.brightmedia.sapi.blipath}">
			<http:headers><![CDATA[#[output application/java
---
vars.myHeaders]]]></http:headers>
		</http:request>
		<logger level="DEBUG" doc:name="Debug After calling update Billing Line Items System  API call" doc:id="443bf889-18cc-417c-a5f4-f2fc06d2bab4" message="TRACE_POINT: updateBillingLineItems , MESSAGE: Response received from updateBillingLineItems Call" category="com.condenast.api"/>
		<logger level="DEBUG" doc:name="Debug Response Payload" doc:id="3c158b82-82cc-4016-bccd-73d5e247c8a6" message="TRACE_POINT: RESP_PAYLOAD: #[payload]" category="com.condenast.api"/>
	</flow>	
		<flow name="updateFulfillmentLineItems"
		doc:id="0f962fb8-9dc7-4be9-af42-d416586952f2">
		
		<logger level="DEBUG" doc:name="Debug - Start Flow" doc:id="444dc397-b1ad-45f8-b471-5853e93495c4" message="TRACE_POINT: START: updateFulfillmentLineItems Flow Implementation Starts" category="com.condenast.api"/>
		<logger level="DEBUG" doc:name="Debug log - Before calling updateFulfillmentLineItems System API call" doc:id="0a4d4a33-2e0a-48ef-b3de-2b335cf33e8c" message="TRACE_POINT: Before Calling Update updateFulfillmentLineItems System API call" category="com.condenast.api"/>		
		<logger level="DEBUG" doc:name="Debug log - Message Payload" doc:id="e53bf7c0-d6bd-40df-9b1c-8c049cc82336" message="TRACE_POINT: MSG_PAYLOAD: #[payload]" category="com.condenast.api"/>
		<http:request method="PUT" doc:name="updateFulfillmentLineItems System API" doc:id="90c13999-320b-4934-8b58-686b8573dbda" config-ref="HTTP_SAPI_Request_configuration" path="/${atlas.sfdc.brightmedia.sapi.flipath}">
			<http:headers><![CDATA[#[output application/java
---
vars.myHeaders]]]></http:headers>
		</http:request>
		<logger level="DEBUG" doc:name="Debug After calling update updateFulfillment Line Items System  API call" doc:id="f8ca2793-b654-4c11-9adb-072508ba9ffe" message="TRACE_POINT: updateFulfillmentLineItems , MESSAGE: Response received from updateFulfillmentLineItems Call" category="com.condenast.api"/>
		<logger level="DEBUG" doc:name="Debug Response Payload" doc:id="172e19a1-75ee-4c65-ab84-6aa85958ddc6" message="TRACE_POINT: RESP_PAYLOAD: #[payload]" category="com.condenast.api"/>
	</flow>	
</mule>
